@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Knewave');

* {
  box-sizing: border-box; 
}

body {
  margin: 96px;
  font-size: 28px;
  background: black;
  color: rgb(220, 220, 220);
  font-family: "Crimson Text", serif;
  line-height: 2;
}

.red {
  color: rgb(255, 10, 20);
}


.highlight {
  color: rgb(255, 10, 20);
  font-family: "Knewave", cursive; 
  margin: 0;
}

.celebration {
  text-align: center;
  margin-top: 100px;
}

button {
  background: rgb(255, 10, 20);
  border-radius: 4px;
  font-family: "Knewave", cursive;
  font-size: 30px;
  padding: 10px 20px;
  color: black;
  border: none;
}

input {
  font-family: "Knewave", cursive;
  color: rgb(255, 10, 20);
  background: black;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

input.range {
  display: block;
  margin: 24px 0;
  width: 100%;
}

.inputs {
  background: rgb(220, 220, 220); 
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 540px;
}


/* Interactive parts */

.hidden {
  display: none;
}

.aligned {
  opacity: 0.5; 
}

.unlocked {
  font-weight: bold;
  font-size: 42px;
  color: rgb(255, 10, 20);
  font-family: "Knewave", cursive;
}
